main.synctex.gz
*synctex.gz
*.pyg
*.axp
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pygtex
*.pygstyle
*.pdf
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.DS_Store
_minted*/
*.minted
*.fls
*.fdb_latexmk
.vscode/
